html {
  scroll-behavior: smooth;
}
body {
  font-family: "Manrope", sans-serif;
  font-weight: 400px;

  
  background-color: #fff;
}
.Welcome, .description, .projects {
  width: 100%;
  margin: 0 auto;
  max-width: 1400px;
}
.container {
  margin: 0 auto;
  box-sizing: border-box;
  width: 1150px;
}


.navigation_header {
  float: right;
  margin-top: 33px;
  margin-right: 94px;
  margin-bottom: 70px;
  width: 550px;
}
.navigation {
  background: #ffffff;
}
.nav_link_header {
  margin-left: 57px;
  font-size: 18px;
  line-height: 24.59px;
  text-align: left;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: -0.54px;
  color: #121212;
}

.logo-link {
  margin-right: 507.46pxpx;
  margin-top: 32.82px;
  display: inline-block;
}
.logo {
  display: block;
  width: 126.889px;
  height: 21.42px;
  margin-bottom: 73px;
}

.nav_link_header:nth-last-child(1) {
  margin-right: 0;
}

.nav_link_header:hover {
  text-decoration: underline;
  opacity: 0.5;
}


.interiors__title {
  margin-bottom: 30px;
  width: 956px;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: -1.8px;
  height: 120px;
}
.interior_img {
  position: relative;
  width: 1150px;
  height: 500px;
  background-image: url("../resourcer/interior.png");
  background-repeat: no-repeat;
}
.img_text_interior {
  position: absolute;
  bottom: 38px;
  left: 41px;
  width: 430px;
  font-size: 20px;
  margin: 0 auto;
  letter-spacing: -0.6px;
  line-height: 27.32px;
  color: #ffffff;
}
.description__title {
  margin-top: 148px;
  margin-bottom: 32px;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.46px;
  text-align: left;
  text-transform: uppercase;
}
.description__btn-about {
  position: relative;
  display: inline-block;
  padding: 20px 40px;
  border-radius: 5px;
  font-size: 20px;
  letter-spacing: -0.6px;
  color: #ffffff;
  background-color: #ad1818;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 134px;
  line-height: 28px;
}

.description__paragraph_about {
  margin-bottom: 35px;
  width: 1048px;
  height: 361px;
  font-size: 45px;
  letter-spacing: -1.35px;
  line-height: 61px;
}
.projects__title {
  margin-bottom: 30px;
  font-size: 18px;
  letter-spacing: -0.54px;
  text-transform: uppercase;
}
.project_list {
  margin-bottom: 85px;
}
.project_more_link {
  cursor: pointer;
  font-size: 20px;
  letter-spacing: -0.6px;
  text-decoration: none;
  color: #ad1818;
  line-height: 27.32px;
  margin-bottom: 90px;
  margin-left: 2px;
}
.projects_header {
  margin-top: 21px;
  margin-bottom: 24px;
  font-size: 30px;
  letter-spacing: -0.9px;
}

.projects .project {
  margin-bottom: 90px;
}
.projects :first-child {
  margin-top: 0;
}

.projects_btn_big {
  margin-top: 84px;
  margin-bottom: 150px;
  display: block;
  width: 1150px;
  line-height: 153px;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  color: #ad1818;
  border: 1px solid #ad1818;
  font-size: 30px;
  letter-spacing: -0.9px;
  cursor: pointer;
}
.projects_btn_big:hover {
  color: #ffffff;
  background-color: #ad1818;
}

.services {
  width: 100%;
  background-color: #121212;
}
.services__title {
  margin: 0;
  padding-top: 152px;
  padding-bottom: 36px;
  padding-left: 2px;
  color: #ffffff;
  font-size: 18px;
  font-style: normal;
  letter-spacing: -0.54px;
  text-transform: uppercase;
}
.text__services {
  font-size: 30px;
  height: 40px;
  letter-spacing: -0.9px;
  color: #fff;
  margin-bottom: 53px;
  margin-top: 21px;
  margin-left: 4px;
}

.services li:last-child {
  padding-bottom: 90px;
}
.services_img li:last-child {
  padding-bottom: 90px;
}
.services :first-child {
  margin-bottom: 0;
}

.full-screen-section {
  position: relative;
  width: 100%;
  height: 717px;
  background-image: url("../resourcer/fullscreen.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 35%;
}
.full-screen-container {
  margin: 0 auto;
  box-sizing: border-box;
  width: 1150px;
}

.full-screen-Image__text {
  position: absolute;
  width: 443px;
  line-height: 41px;
  bottom: 60px;
  left: 125px;
  font-size: 30px;
  color: #fff;
  letter-spacing: -0.9px;
}

.contacts__title:before {
  box-sizing: border-box;
  content: "";
  display: block;
  margin-bottom: 12px;
  margin-left: -5px;
  width: 24px;
  height: 24px;
  letter-spacing: -1.8px;
  font-weight: 400px;
  position: relative;
  margin-bottom: 32px;
  font-size: 18px;
  line-height: 24.59px;
  background-image: url("../resourcer/sign-iphone.png");
  text-transform: uppercase;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}

.text-wrapper-contact {
  margin-bottom: 160px;
  margin-top: 150px;
  width: 400px;
  margin-left: 125px;
}
.contacts__phone {
  display: block;
  margin-top: 32px;
  margin-bottom: 30px;
  padding-bottom: 10px;
  width: 472px;
  font-size: 60px;
  letter-spacing: -1.8px;
  line-height: 60px;
  margin-bottom: 30px;
  text-decoration: none;
  color: #121212;
}
.contacts__phone:hover {
  opacity: 0.5;
  text-decoration: underline;
}

.contacts__email {
  display: block;
  margin-bottom: 160px;
  font-size: 60px;
  width: 412px;
  letter-spacing: -1.8px;
  text-decoration: none;
  color: #121212;
  padding-bottom: 30px;
  font-size: 60px;
  line-height: 60px;
}

.contacts__email:hover {
  opacity: 0.5;
  text-decoration: underline;
}

.container_footer {
  background-color: #121212;
  width: 100%;
  height: 229px;
}

.navigation_footer {
  padding-bottom: 87px;
  padding-top: 60px;
  margin: auto;
  width: 500px;
  display: block;
  box-sizing: border-box;
  font: inherit;
}

.nav_link_footer {
  line-height: 25px;
  margin-left: 55px;
  font-size: 18px;
  text-align: left;
  text-decoration: none;
  letter-spacing: -0.54px;
  color: #ffffff;
}
.nav_link_footer:first-child {
  margin: 0;
}
.title_footer {
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.6px;
  color: #fff;
  text-align: center;
  opacity: 0.5;
  padding-bottom: 30px;
}
