html {
  scroll-behavior: smooth;
}

body {
  font-family: "Manrope", sans-serif;
  font-weight: 400px;
  margin: 0 auto;
  width: 100%;
}
.container {
  margin: 0 auto;
  padding-left: 125px;
  width: 1400px;
}



.container_for_text_img {
  width: 430px;
}

.box_for_text_img {
  position: relative;
  box-sizing: border-box;
}
.img_text {
  position: absolute;
  bottom: 40px;
  left: 40px;
  width: 430px;
  font-size: 20px;
  margin: 0 auto;
  letter-spacing: -0.6px;
  line-height: 27.32px;
  color: #ffffff;
}

h1 {
  margin-bottom: 30px;
  width: 956px;
  font-size: 60px;
  letter-spacing: -1.8px;
}

h2 {
  margin-top: 150px;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.54px;
  text-align: left;
  text-transform: uppercase;
}

h3 {
  font-size: 30px;
  line-height: 41px;
  letter-spacing: -0.9px;
}

.section_h2_black {
  color: #ffffff;
  margin: 0;
  padding-top: 151px;
  padding-bottom: 34px;
 
  
}

.section_fon_black {
  width: 100%;
  background-color: #121212;
  
}

.text_fon_black {
  padding-bottom: 60px;
  font-size: 30px;
  color: #ffffff;
  letter-spacing: -0.9px;
  
}

.interior_img {
  position: relative;

  width: 1150px;
  height: 500px;
  background-image: url("../resourcer/interior.png");
  background-repeat: no-repeat;
}

.paragraph_about {
  margin-bottom: 30px;
  width: 1048px;
  height: 366px;
  font-size: 45px;
  letter-spacing: -1.35px;
  line-height: normal;
}

.link {
  position: relative;
  display: inline-block;
  padding: 20px 40px;
  border-radius: 5px;
  font-size: 20px;
  letter-spacing: -0.6px;
  color: white;
  background-color: #ad1818;
  cursor: pointer;
  text-decoration: none;
  
}

.link_big {
  margin-top: 90px;
  margin-bottom: 150px;
  display: block;
  width: 1150px;
  line-height: 153px;
  border: 1px solid #ad1818;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  color: #ad1818;
  font-size: 30px;
  letter-spacing: -0.9px;
  cursor: pointer;
}

.link_big:hover {
  color: #ffffff;
  background-color: #ad1818;
}

.project_more_link {
  font-size: 20px;
  letter-spacing: -0.6px;
  text-decoration: none;
  color: #ad1818;
  letter-spacing: -0.6px;
}

.projects_header {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 30px;
  letter-spacing: -0.9px;
}
.projects .project {
  margin-bottom: 90px;
}
.image_section_black {
  padding-bottom: 15px;
}
.service :first-child {
  margin-bottom: 0;
  
}
.projects :first-child {
  margin-top: 0;
}
.nav-section {
  background: #ffffff;
}
.nav_container {
  margin: 0 auto;
  width: 1400px;
  padding-left: 124px;
  padding-top: 33px;
  padding-bottom: 74px;
}
.logo-link {
  margin-right: 558.46px;
  margin-top: 32.82px;
  display: inline-block;

}
.logo {
  display: block;
  width: 126.889px;
height: 21.42px;

}
.nav {
  display: inline-block;
  vertical-align: top;
  
}
.nav__link:nth-last-child(1) {
  margin-right: 0;
}
.section_fon_black li:last-child {
  padding-bottom: 90px;
  }
.nav_link {
  display: inline-block;
  margin-top: 33px;
  margin-right: 60px;
  font-size: 18px;
  line-height: 24.59px;
  text-transform: uppercase; 
 color: #121212; 
 text-decoration: none;
}
.nav_link:hover {
 text-decoration: underline;
  opacity: 0.5;
}

.section-full-screen {
  position: relative;
  height: 717px;
  margin: 0 auto;
  width: 100%;
  min-width: 1400px;
  background-image: url("../resourcer/fullscreen.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
 

}
.container-for-full-screen {
  position: absolute;
  bottom: 60px;
  left: 125px;
 
  

}

.img_text-full-screen {
  line-height: 40.98px;
  width: 443px;
  font-size: 30px;
  color: #fff;
  
}